<table class="table">
  <thead>
    <tr>
      <th scope="col">Origem</th>
      <th scope="col">Categoria</th>
      <th scope="col">Valor Gasto</th>
      <th scope="col">Mês</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lancamento of lancamentos">
      <td class="lancamento-origem">{{ lancamento.origem }}</td>
      <td class="lancamento-categoria" *ngIf="categorias.has(lancamento.categoria)">
        {{ categorias.get(lancamento.categoria).nome }}</td>
      <td class="lancamento-categoria text-secondary font-italic" *ngIf="!categorias.has(lancamento.categoria)">Não
        categorizado</td>
      <td class="lancamento-valor">{{ lancamento.valor | currency }}</td>
      <td class="lancamento-mes">{{ lancamento.mes | nomeMes }}</td>
    </tr>
  </tbody>
</table>
